@import url("https://fonts.cdnfonts.com/css/jetbrains-mono");

:root {
	--duration: 0.5s;
	--timing: ease;
}

body {
	transition:
		color var(--duration) var(--timing),
		background-color var(--duration) var(--timing);
}

* {
	font-family: "JetBrains Mono", "Lucida Console", Courier, monospace;
	font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
	scroll-margin-top: 40px;
}

.declaration {
	background: var(--klass-color-declaration);
}

.reference {
	background: var(--klass-color-reference);
}

.highlight {
	background: var(--klass-color-highlight);
}
