:root {
	color-scheme: light;
	--color-foreground: Black;
	--color-background: White;

	--klass-color-comment: #8c8c8c;
	--klass-color-keyword: #0033b3;
	--klass-color-identifier: color var(--color-foreground);
	--klass-color-package-name: #aa0000;
	--klass-color-top-level-element-name: #aa0000;
	--klass-color-interface-name: #00aaaa;
	--klass-color-enumeration-literal-name: #871094;
	--klass-color-parameter-name: #ff8800;
	--klass-color-property-name: #871094;
	--klass-color-literal: #1750eb;
	--klass-color-string-literal: #067d17;
	--klass-color-url-constant: #00aa00;

	--klass-color-semicolon: #cccccc;

	--klass-color-declaration: #edebfc;
	--klass-color-reference: #edebfc;
	--klass-color-highlight: #ffe959;
}
